<div class="row enroll_header">
  <div class=" col-md-2"></div>
  <div class="col-md-9">
    <h2>Edit Terms</h2>
  </div>
</div>
<div class="row enroll_header">
  <div class=" col-md-2"></div>
  <div class="col-md-9">
    - - <%=@pay_term.e_type %> - -
  </div>
</div>
<%= form_for(:pay_term, :url=> event_terms_update_path(:id=> @pay_term.id), html: { id: "id", class: "form-horizontal", role: "form" }) do |f| %>
  <%= render partial: 'event_terms_form', locals: {:f=> f} %>
<% end %>
