<h2>New Pay Terms</h2>
<%= form_for(:pay_term, :url=> event_terms_create_path, html: { id: "id", class: "form-horizontal", role: "form" }) do |f| %>
  <%= render partial: 'event_terms_form', locals: {:f=> f} %>
<% end %>
