
<!-- Button trigger modal
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Submit
</button>
-->
<!-- Modal -->
<div class="modal fade" id="careerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title panel career_title" id="myModalLabel">
          Perhaps There's A Fit?
        </div>
      </div>
      <div class="modal-body career-panel">
        <div class="career-box">
          <div class="row">
            We're a collegial team of serious-minded professionals who help our schools
            in ways that Independent Consultants and large Consultancies cannot. </br>
          </div>
          <div class="row career_header">
            Please 'Contact Us' and introduce yourself if...
          </div>
          <div class="row career_text">
            <div class="col-md-1 glyphicon glyphicon-ok"></div>
            <div class="col-md-11">
              You're an experienced educator wanting to "help districts and schools move
              every student as far as they can as fast as they can."
            </div>
          </div>
          <div class="row career_text">
            <div class="col-md-1 glyphicon glyphicon-ok"></div>
            <div class="col-md-11">
              You have an experience-based passion that you want to bring to our schools.
            </div>
          </div>
          <div class="row career_text">
            <div class="col-md-1 glyphicon glyphicon-ok"></div>
            <div class="col-md-11">
              You enjoy working with others having complementary skills or innovative ideas.
            </div>
          </div>
          <div class="row">
           </br>At <strong>Precision</strong> you will have the business practices, tools, brand, and network needed
            to develop your passion and succeed as a professional consultant.</br>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>

