
<!-- Button trigger modal
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Submit
</button>
-->
<!-- Modal -->
<div class="modal fade" id="careerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title panel career_title" id="myModalLabel">
          <%= career.nil? ? '' : career.brief.html_safe %>
        </div>
      </div>
      <% if !career.nil? %>
        <div class="modal-body career-panel">
          <div class="career-box">
            <% career.stats.active.each do |stat| %>
              <div class="row career_text">
                <div class="col-md-1 glyphicon glyphicon-ok"></div>
                <div class="col-md-11">
                  <%= stat.name.html_safe %>
                </div>
              </div>
            <% end %>
            <div class="row">
              <%= career.description.html_safe %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>

