<h4><%= @name %>,&nbsp;Thank You For Contacting <em>Precision</em></h4>

<h5>We will respond to you shortly.</h5>

<h5>Email:&nbsp;<%=@email%></h5>

<h5>Workplace:&nbsp;<%= @workplace == '' ? 'Not Identified' : @workplace %></h5>

<%=@message%>
