<div class = "container pov_list-container">
 <!-- <%#= render 'pov_association_loading' %> -->
  <div class="pov_associations">
    <%= render partial: 'pov_assigns', locals: { offering: offering, povs: povs, avail_povs: avail_povs}%>
  </div>
</div>

