<!-- locals: { offering: @local_var, parent: @local_var2 } -->

<div id="status" class="col-sm-4">
  <% if offering.is_visible %>
    <h4>Visible</h4>
  <% else %>
    <h4><em>Hidden</em></h4>
  <% end %>

  <% if offering.display_position.nil? %>
    <p>No position selected</p>
  <% else %>
    <p>Offering Position: <%= offering.display_position %></p>
  <% end %>

  <% if offering.parent_id.nil? %>
    <p>Ain't no child</p>
  <% else %>
    <p>Sub-offering of: <strong><%= parent.name %></strong></p>
  <% end %>
</div>
