<div class = "container pov_list-container">
  <div class="pov_associations">
    <%= render partial: 'testimony_assigns', locals: { offering: @offering, testimonies: @offering.testimonies, avail_testimonies: @offering.available_testimonies}%>
  </div>
</div>

