<h1>Add Stat To <%= @offering.name %>:</h1>
<div class="row">
    <%= render partial: 'stat_form', locals: { stat: @stat, offering: @offering } %>
    <hr>
</div>
<div class="container col-md-offset-2 col-md-2" >
  <a class="btn btn-default" href="<%= edit_admin_offering_path(@offering) %>">Back</a>
</div>
