<div class="row">
  <div class="contact_us_row">
    <%= link_to 'Contact Us', contact_logs_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#contactModal', :class=>'button_contact'} %>
  </div>
</div>