<div class="table-responsive">
  <p style="padding-left: 15%">
    <%= image_tag('logos/cde_logo.png', height: '60') %>
  </p>
  <p style="padding-left: 30%">
    <%= image_tag('logos/cea_logo.png', height: '55') %>
  </p>
  <p style="padding-left: 12%">
    <%= image_tag('logos/NCTL_logo.png', height: '50') %>
  </p>
  <p style="padding-left: 15%">
    <%= image_tag('logos/EP_logo.png', height: '50') %>
  </p>
</div>
