<div class="table-responsive">
  <table class="table">
    <tbody>
        <tr>
          <td style="padding-left:3em">
            <%= image_tag('logos/cde_logo.png', height: '40') %>
          </td>
          <td>
            <small>Approved Provider</small>
          </td>
        </tr>
        <tr>
          <td style="padding-left:3em">
            <%= image_tag('logos/cea_logo.png', height: '35') %>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td style="padding-left:3em">
            <%= image_tag('logos/EP_logo.png', height: '40') %>
          </td>
          <td>
            <small>Strategic Partner</small>
          </td>
        </tr>
        <tr>
          <td style="padding-left:3em">
            <%= image_tag('logos/NCTL_logo.png', height: '40') %>
          </td>
          <td>
            <small>Strategic Partner</small>
          </td>
        </tr>
    </tbody>
  </table>
</div>

