<div class="table-responsive">
  <table class="table">
    <tbody>
        <tr>
          <td style="padding-left2em">
            <%= image_tag('logos/cde_logo.png', height: '40') %>
          </td>
          <td>
            <small><em>Precision</em> Is An<br/>Approved Provider</small>
          </td>
        </tr>
        <tr>
          <td style="padding-left:2em">
            <%= image_tag('logos/cea_logo.png', height: '40') %>
          </td>
          <td>
            <small>A <em>Precision</em><br/>Stakeholder & Friend</small>
          </td>
        </tr>
        <tr>
          <td style="padding-left:2em">
            <%= image_tag('logos/EP_logo.png', height: '40') %>
          </td>
          <td>
            <small><em>Precision's</em><br/>Technology Partner</small>
          </td>
        </tr>
        <tr>
          <td style="padding-left:1em">
            <%= image_tag('logos/NCTL_logo.png', height: '40') %>
          </td>
          <td>
            <small>A <em>Precision</em><br/>Research Partner</small>
          </td>
        </tr>
    </tbody>
  </table>
</div>

