<% if !active_offering.stats.active.empty? %>
  <div class="offering-stat-box">
    <div class="row offering-stats">
      Platform Stats: <%= Date.today.strftime('%b %d, %Y')%>
    </div>
      <% active_offering.stats.active.by_position.each do|stat| %>
        <div class="row offering-stat" >
          <div class="col-md-3 stat">
            <%=stat.stat %>
          </div>
          <div class="col-md-9">
            <%=stat.name %>
          </div>
        </div>
      <% end %>
  </div>
<% end %>
