 <%if !pending_preps.empty? %>
  <div class="row enroll_buttons">
    <%= button_to 'Course Schedule', prep_enroll_online_path(:e_type => 'prep'), class: 'button_enroll' %>
  </div>
 <% end %>

<%if !next_webinar.nil? %>
 <div class="row enroll_buttons">
    <%= button_to 'Teacher Webinar', prep_enroll_online_path(:e_type => 'webinar'), class: 'button_webinar' %>
 </div>
 <% end %>
