
  <div class="row enroll_buttons">
    <div class="col-md-4">
      <%if !pending_preps.empty? %>
        <%= button_to 'View Tutoring Schedule', prep_enroll_online_path(:e_type => 'prep'), class: 'button_enroll' %>
      <% end %>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4" style="padding-left:4em">
     <%if !next_webinar.nil? %>
          <%= button_to 'Teacher Webinar Signup', prep_enroll_path(:event_id=>next_webinar.id), class: 'button_webinar' %>
      <% end %>
    </div>
  </div>
