<div class="row">
  <hr>
  <%= render partial: 'site_dropdown_row', locals: {offering: active_offering} %>
  <% @offering_list.sort_by{|o| o.display_position}.each do |offering| %>
    <% if active_offering != offering %>
        <%= render partial: 'site_dropdown_row', locals: {offering: offering} %>
    <% end %>
  <% end %>
</div>