<div class="table-responsive" style="overflow:scroll; max-height:450px;">
    <% names.each_with_index do |name, idx| %>
      <div class="col-md-2">
        <div class="panel ">
          <div class="panel-body">
            <% break if idx == 4 %>
            <<span style="font-weight:bold"><%= name %></span>,&nbsp;<small><%= titles[idx] %></small><br/>
                <small>Managing Partner</small>
              </td>
          </div>
        </div>
      </div>
    <% end %>
</div>
