<div class="testimony_table">
  <% testimonials.each do |testimony| %>
      <div class = "row">
        <table style="width:95%">
          <tbody>
              <colgroup>
                <col style="width:20%">
                <col style="width:80%">
              </colgroup>
              <tr>
                <td class= "testimony_image thumbnail-small">
                  <% if (!testimony.images.empty? && testimony.images.first.exist? ) %>
                      <%= image_tag (testimony.images.first.image) %>
                  <% else %>
                      <i class="glyphicon glyphicon-thumbs-up"></i>
                  <% end %>
                </td>
                <td class= "testimony_brief">
                <%= testimony.brief.html_safe %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class = "row testimony_row2">
          <%= testimony.description.html_safe %>
      </div>
      <hr>
  <% end %>
</div>

