<% if current_user && current_user.admin? %>
    <%= link_to 'Admin Functions', admin_functions_path %>
<% end %>
<!-- Page Content -->
<div class="container">
  <!-- Marketing Icons Section -->
  <div class="row" style="padding-bottom:2em;">
    <div class="col-xs-5">
        <div class="main_block_1"></div>
    </div>
    <div class="col-xs-6">
      <div class="main_block_2" >
      <h3>Our Mission</h3>
        To institutionalize authentic performance improvement disciplines in our schools, to the benefit of every student.
        <br/><br/>
        <h4>Our Approach</h4>
        We are a network of seasoned educators. We collaborate with education's thought leaders
        and work with school leaders to apply research-based methods to their local circumstances.&nbsp;
        We build "community" among our schools who, with common methods and integrated tools,
        help each other move down the path of continuous performance improvement.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i> Diagnostic Review</h4>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
          <a href="#" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-gift"></i> Performance Planning</h4>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
          <a href="#" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-compass"></i> Progess Monitoring</h4>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
          <a href="#" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- /.row -->
<h3>Everybody loves beer -- here's a site to help you make your own</h3>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut neque odio.
  Nunc laoreet arcu ex, id scelerisque magna ullamcorper vitae. Vestibulum sit
  amet gravida dui, vel commodo lorem. Proin vehicula tortor mauris, eu viverra dolor
  aliquet ut. Vivamus ac viverra diam. Quisque ultricies imperdiet est sed gravida.
  Aliquam rhoncus mollis metus ut euismod. Sed posuere eleifend mi sit amet malesuada.
  Sed fermentum faucibus quam quis tempor. Phasellus id dignissim metus.
  Quisque consequat metus sed malesuada efficitur. Etiam justo leo, semper et venenatis
  ut, interdum eget purus. Fusce at suscipit est.
</p>
