<%= render 'layouts/main_header' %>
<!-- Page Content -->
<div class="container">
  <!-- Marketing Icons Section -->
  <div class="row" style="padding-bottom:2em;">
    <div class="col-xs-5">
        <div class="main_block_1"></div>
    </div>
    <div class="col-xs-7">
      <div class="main_block_2" >
        <h3 >Our Mission</h3>
        <div style="text-align:left; width:90%;">
          To institutionalize authentic performance improvement disciplines in our schools for the benefit of every child.
        </div>
        <h4 style="margin-top:1.5em;">Our Approach</h4>
        We are a network of seasoned educators. We collaborate with education's thought leaders
        and work with schools to apply research-based methods to their local circumstances.&nbsp;
        We build "community" among our schools who, using common methods and integrated tools,
        help each other move along the path of continuous performance improvement.
        <p><u><a href="#">Learn More</a></u></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default-1">
        <div class="panel-heading">
          <h4><i class="fa fa-search"></i> Diagnostic Review</h4>
        </div>
        <div class="panel-body">
          <p>
            Working within a research-based framework, such as <em>Colorado's Standards and Indicators for Continuous School Improvement</em>,
            seasoned advisors conduct this review according to <em>Precision's</em> well-defined methodology.
            On-line tools built for the methodology link all diagnostic findings to the supporting evidences gathered by the team,
            and relates these findings to the relevant strands/indicators of the standards.
          </p>
          <p>
            All diagnostic data are kept on-line as a baseline from which schools can analyze their future progress against established standards.
          </p>
          <u><a href="#" >Learn More</a></u>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default-2">
        <div class="panel-heading">
          <h4><i class="fa fa-users"></i> Improvement Planning</h4>
        </div>
        <div class="panel-body">
          <p>
            Our methodology involves a <em>Precision</em> advisor working with
            the school's leadership team. Diagnostic findings are reviewed and weighed: they are understood in relation to one another and in context of
            the school's particular circumstances.
            The resulting <em>Action Plan</em> illuminates up to three achievable goals, which are owned by the leadership team.
            These goals are not end points; they are steps that point to the next steps of an incremental performance improvement process.
          </p>
          <p>
            The <em>Precision</em> community offers helpful connections to others having achieved similar goals.
          </p>
          <u><a href="#" >Learn More</a></u>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default-3">
        <div class="panel-heading">
          <h4><i class="fa fa-cog fa-1x fa-spin"></i> Progess Monitoring</h4>
        </div>
        <div class="panel-body">
          <p>We shepherd the schools of our community toward their goals. We are able to do this efficiently
            because of the trusting relationships experienced advisors earn with school leaders;
            and because <em>Precision's</em> infrastructure enables our team to observe, uninstrusively, how our schools are progressing.
          </p>
          <p>Periodic diagnostic checkpoints measure progress against improvement plans.
            These checkpoints produce objective indicators of each school's progress, and that of the community as a whole. This, in turn,
            helps researchers better understand what our schools need from them.
          </p>
          <u><a href="#">Learn More</a></u>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default-4">
          <div class="panel-heading">
            <h4><i class="fa fa-wrench"></i> Integrated Toolkit</h4>
          </div>
          <div class="panel-body">
            <p>
              We witness billions of IT dollars wasted every year on appealing tools that bear no relation to quality management principles.
            </p>
            <p>
              This as a root problem in education today. It is why our integrated toolkit and our technology credentials are keys to <em>Precision's</em> approach.
            </p>
            <p>
              Our enabling tools, operate on an industry-grade online platform called <span style="font-weight:bold; color:#0000a4">Escent</span>, which confomrs our methods to quality tenets and fosters collaboaration among <em>Precision</em> schools.
            </p>
            <u><a href="#">Learn More</a></u>
          </div>
        </div>
        <div class="panel panel-default-2">
          <div class="panel-heading">
            <h4>Partners</h4>
          </div>
          <div class="panel-body">
            <p>
              <u><a href="#" >View Testimonials</a></u>
            </p>
            <p>
              <%= render 'logo_box'%>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default-1">
          <div class="panel-heading">
            <h4> Experience Matters</h4>
          </div>
          <div class="panel-body">
            <p>
              The <em>Precision</em> team is an exclusive group of seasoned educators having extensive experience in school diagnostic reviews.
              Advisors are well versed with the Common Core Standards and specific curricular requirements in Colorado.
              Instruction and teacher effectiveness are particular strengths, as well our knowledge of best practices for intervention and acceleration.
              Every advisor is a credentialed education leader, skilled facilitator, and professional development coach.
              Ours is a diverse team: elementary, middle, high, and alternative school educators and principals; curriculum designers; special education educators; published authors; transformation experts.
              Every advisor has developed Unified Improvement Plans and will prove to be a valuable resource and colleague to school leaders.
              &nbsp;&nbsp;<u><a href="#" >Learn More</a></u>
            </p>

            <%= render partial: 'team_box', locals: {names: @names,
                                                      pics: @pics,
                                                      titles: @titles,
                                                      bios: @bios, }%>
          </div>
        </div>
      </div>
    </div>
</div>
