<div class="row">
  <div class=" col-md-2"></div>
  <div class="col-md-9">
    <h2>Precision Prep Enrollment</h2>
  </div>
</div>
<%= form_for(:reservation, :url=> prep_reservation_path(:event_id => @event.id), html: { class: "form-horizontal", role: "form" }) do |f| %>
    <%= render partial: 'form', locals: {:f=> f, :event => @event} %>
<% end %>