<div>
  <% (0..(names.size-1)).each do |idx| %>
      <div class="row">
        <div class="col-md-12">
          <% name =   names[idx] %>
          <% pic =     pics[idx] %>
          <% title = titles[idx] %>
          <% bio =     bios[idx] %>
          <% brief =     briefs[idx] %>
          <% passion =     passions[idx] %>
          <% education =     educations[idx] %>
          <% user_class =     user_classes[idx] %>
          <% if user_class == 'core'%>
              <table class="table" style="width:90%">
                <tbody>
                    <tr>
                      <td class="thumbnail-large ">
                        <%= image_tag(pic)  %>
                      </td>
                      <td style ="vertical-align:top;">
                        <h3 class="about_blue_font">
                          <%=name%>
                              <% if title != '' %>
                                  &nbsp;<small><%=title %></small>
                              <% end %>
                        </h3>
                        <p class="about_gray_font">
                          <%= bio %>
                        </p>
                      </td>
                    </tr>
                </tbody>
              </table>
          <% end -%>
        </div>
      </div>
  <% end %>
</div>

