<div class="container about_border_bottom" id="concept">
<!-- Page Content -->
    <!-- Page Heading/Breadcrumbs -->
    <div class="row" >
        <div class="col-lg-12">
            <h2 class="page-header about_gray_font">Our Approach
        <!--        <small>Precision School Improvement Network</small> -->
            </h2>
        </div>
    </div>
  <div class="row">
    <div class="col-md-5" >
      <div class="about_approach_image_1">
        <%= image_tag('Precision_model.png', width: 400) %>
      </div>
    </div>
    <div class="col-md-7">
        <div class="panel-body about_panel_1 about_gray_font" style="padding-top:0em;">
          <em>
            <p>
              <strong>We are laser-focused on one thing...</strong>
            </p>
            <p>
              ... helping our schools institute the disciplines
              they need to continuously improve how they work.<br/>
            </p>
            <p>
              We don't offer a buffet of disparate "solutions," each attached to a marketing tag line.<br/>
            </p>
            <p>
              All of our work fits within a methodological framework. Every improvement priority
              builds upon preceding achievements and sets the stage for achievements to come.
            </p>
            <p>
              Continuous improvement is not an experimentation process. It's focused, deliberate, and incremental.
            </p>
          </em>
          <hr>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 about_panel about_gray_font">
      <p class="about_model_p">
        <strong>Thought Leaders:</strong> Our ties to education's thought leaders inform
        our methods. Thought leaders clarify <u>what</u> research tells us.
        We translate the "what?" into the operational "how?" because this is the question
        most schools, given their unique circumstances, ultimately need help with.
      </p>
      <p class="about_model_p">
        <strong>Precision Advisers:</strong> We are an exclusive team of accomplished education leaders. We know what research says and how schools work.
        We are familiar with local circumstances and state standards. <em>Precision</em> is a network of professionals who collectively possess the
        know-how related to all operational issues facing our schools.
      </p>
      <p class="about_model_p">
        <strong>Knowledge Base:</strong> Our technical infrastructure integrates our research-based methods.
        This is as it should be. Many schools today rely on a buffet of disparate tools, which do little to harmonize the whole.
        Our tools feed our community-wide knowledge base of operational metrics, making data-driven collaboration possible.
        Our knowledge base also sustains our relationships with thought leaders.
      </p>
    </div>
    <div class="col-md-4" >
      <div class="about_approach_image_2">
        <%= image_tag('about_2.jpeg') %>
      </div>
    </div>
  </div>
</div>
<hr>
