<div class="container about_border_bottom" id="concept">
  <!-- Page Content -->
  <!-- Page Heading/Breadcrumbs -->

  <div class="row" >
    <div class="col-md-11">
      <div class="panel-body about_header">
        <em>Precision</em> Is Focused On One Thing...<br/>
        Helping Educators Continuously Improve How Their Schools Work.
      </div>
    </div>
  </div>
</div>
<div class="container about_border_bottom" id="concept">
<!-- Page Content -->
    <!-- Page Heading/Breadcrumbs -->
    <div class="row" >
        <div class="col-lg-12">
            <h2 class="page-header about-page ">Our Approach
        <!--        <small>Precision School Improvement Network</small> -->
            </h2>
        </div>
    </div>
  <div class="row">
    <div class="col-md-5" >
      <div class="about_approach_image_1">
        <%= image_tag('Precision_model.png', width: 400) %>
      </div>
    </div>
    <div class="col-md-7">
        <div class="panel-body about_panel_1 about_gray_font" style="padding-top:0em;">

            <div class="row about_panel_2">
              <div class="col-md-1">
              <i class="glyphicon glyphicon-hand-right"></i>
              </div>
              <div class="col-md-9">
                Everything fits within our common methodological framework.
              </div>
            </div>
            <div class="row about_panel_2">
              <div class="col-md-1">
                <i class="glyphicon glyphicon-hand-right"></i>
              </div>
              <div class="col-md-9">
                Every improvement priority builds upon preceding priorites and sets the stage for the next.
              </div>
            </div>
            <div class="row about_panel_2">
              <div class="col-md-1">
                <i class="glyphicon glyphicon-warning-sign"></i>
              </div>
              <div class="col-md-9">
                We don't offer a buffet of disparate "solutions," each attached to buzz words and tag lines.
              </div>
            </div>
            <div class="row about_panel_2">
              <div class="col-md-1">
                <i class="glyphicon glyphicon-thumbs-up"></i>
              </div>
              <div class="col-md-9">
                Continuous improvement is not a series of experiments.<br/>
                It is focused, deliberate, and incremental.
              </div>
            </div>
          </em>
          <hr>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 about_panel about_gray_font">
        <div class="pillars-panel-heading">
          <h3>Our Three Pillars</h3>
        </div>
      <p class="about_model_p">
        <span class ="about-page">Thought Leaders</span><br/>
        We work with education's thought leaders because their research informs
        our methods. Research clarifies <u>what</u> impacts student performance.
        We translate the "what" into the operational "how."
      </p>
      <p class="about_model_p">
        <span class ="about-page">Precision Advisers</span><br/>
        We are an exclusive team of accomplished education leaders. We know what research says and how schools work.
        We understand what the performance standards expect of our schools and the local circumstances educators wrestle with. <em>Precision</em> is a network of professionals who are collectively armed with the
        know-how related to the critical issues facing our schools.
      </p>
      <p class="about_model_p">
        <span class ="about-page">Knowledge Base</span><br/>
        Our technology platform integrates operational processes.
        This is as it should be. Many schools today rely on a buffet of disparate tools, which do little to harmonize the whole.
        Our tools feed a knowledge base containing the useful operational metrics that make data-driven collaboration possible.
        Our knowledge base also sustains our relationships with thought leaders.
      </p>
    </div>
    <div class="col-md-4" >
      <div class="about_approach_image_2">
        <%= image_tag('about_2.jpeg') %>
      </div>
    </div>
  </div>
</div>
<hr>
