<div class="container about_border_bottom" id="concept">
<!-- Page Content -->
    <!-- Page Heading/Breadcrumbs -->
    <div class="row" >
        <div class="col-lg-12">
            <h1 class="page-header">About Us
                <small>Precision School Improvement Network</small>
            </h1>
        </div>
    </div>
   <!-- Blog Entries Column -->
    <div class="col-md-9">
      <!-- First Blog Post -->
      <h2 class="about_blue_font">
            Our Approach
        </h2>
      <!--
      <h5 class="lead about_blue_font">
        Schools ultimately need help with the question "How?"
      </h5>
      -->
    </div>
      <!-- Blog Sidebar Widgets Column -->
      <div class="col-md-3" >
        <!--
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
        -->
        <!-- Blog Categories Well -->

        <!-- Blog Categories Well -->
        <div class="row about_side_height">
          <div class="col-lg-3">
            <ul class="list-unstyled">
              <u><li><a href="#team">Our Team</a>
              </li></u>
            </ul>
          </div>
          <!-- /.col-lg-6 -->
        </div>

        <!-- Side Widget Well
        <div class="well">
            <h4>Side Widget Well</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
        </div>
        -->
      </div>
      <div class="row">
        <div class="col-md-5" >
          <div class="about_approach_image_1">
            <%= image_tag('Precision_model.png', width: 400) %>
          </div>
        </div>
        <div class="col-md-7">
            <div class="panel-body about_panel_1 about_blue_font" style="padding-top:0em;">
              <em>
                <p>
                  <strong>We are laser-focused on one thing:</strong>
                </p>
                <p>
                  Helping our schools institute the operational disciplines
                  they need to continuously improve how they work.<br/>
                </p>
                <p>
                  We don't offer a buffet of disparate "solutions," each attached to a marketing tag line.<br/>
                </p>
                <p>
                  All of our work fits within a methodological framework. Every improvement priority
                  builds upon preceding achievements and sets the stage for achievements to come.
                </p>
                <p>
                  Continuous improvement is not an experimentation process. It's focused, deliberate, and incremental.
                </p>
              </em>
              <hr>
            </div>
        </div>
      </div>
  <div class="row">
    <div class="col-md-8 about_panel">
      <p class="about_model_p">
        <strong>Thought Leaders:</strong> Our ties to education's thought leaders provide the basis for
        our methods. Thought leaders clarify <u>what</u> research tells us.
        We translate the "what?" into the operational "how?" because this is the question
        most schools, given their unique circumstances, ultimately need help with.
      </p>
      <p class="about_model_p">
        <strong>Precision Advisers:</strong> We are an exclusive team of accomplished education leaders. We know what research says and how schools work.
        We are familiar with local circumstances and state standards. <em>Precision</em> is a network of professionals who collectively possess the
        know-how related to all operational issues facing our schools.
      </p>
      <p class="about_model_p">
        <strong>Knowledge Base:</strong> Our technical infrastructure integrates our research-based methods.
        This is as it should be. Many schools today rely on a buffet of disparate tools, which do little to harmonize the whole.
        Our tools feed our community-wide knowledge base of operational metrics, making data-driven collaboration possible.
        Our knowledge base also sustains our relationships with thought leaders.
      </p>
    </div>
    <div class="col-md-4" >
      <div class="about_approach_image_2">
        <%= image_tag('about_2.jpeg') %>
      </div>
    </div>
  </div>
</div>
<div class="container about_topic_box" id="team">
    <!-- Blog Entries Column -->
    <div class="row">
        <div class="col-md-9">
          <!-- First Blog Post -->
          <h2 class="about_blue_font">
            Our Team
          </h2>
          <h5 class="lead about_blue_font">
            Experience Matters
          </h5>
        </div>
      <!-- Blog Categories Well -->
      <div class="row about_side_height">
        <div class="col-lg-3">
          <ul class="list-unstyled">
            <u><li><a href="#concept">Our Approach</a>
            </li></u>
          </ul>
        </div>
        <!-- /.col-lg-6 -->
      </div>
    </div>
    <div class="row">
        <div class="col-md-5" >
          <div class="about_team_image">
            <%= image_tag('about_1.jpeg', width: 400) %>
          </div>
        </div>
        <div class="col-md-7">
          <div class="panel-body about_panel about_grey_font" style="padding-top:0em;" >
            <p>
              <em>Precision</em> is a network of seasoned advisors having extensive experience in school diagnostic reviews;
              the foundation for all valid performance improvement plans. Advisers are well versed with the Common Core Standards and specific curricular requirements in Colorado.
              Instruction and teacher effectiveness are particular strengths, as well our knowledge of best practices for intervention and acceleration.
              Everyone is a credentialed education leader, skilled facilitator, and professional development coach.
              And we are diverse: elementary, middle, high, and alternative school educators and principals; curriculum designers; special education educators; published authors; transformation and technology experts.
              Every adviser has developed <strong>Unified Improvement Plans</strong> and will prove to be a valuable resource and fun-to-be-around colleague.
            </p>
          </div>
        </div>
    </div>

    <!-- Blog Sidebar Widgets Column -->
  <!--
  <div class="col-md-4">

              <div class="well">
                  <h4>Blog Search</h4>
                  <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                      </span>
                  </div>
              </div>
      -->
      <!-- Blog Categories Well

      <%#= render 'side_bar_1' %>
      -->

      <!-- Side Widget Well
      <div class="well">
          <h4>Side Widget Well</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
      </div>

    </div>
    -->
  <div class="row" style="padding-top:2em">
    <div class="col-md-12">
      <%= render partial: 'team_box', locals: {names: @names,
                                             pics: @pics,
                                             titles: @titles,
                                             bios: @bios,
                                               briefs: @briefs,
                                               educations: @educations,
                                               passions:   @passions,
                                               user_classes:   @user_classes
                                    }%>
    </div>
  </div>
  <!-- Blog Entries Column -->
</div>
  <!-- /.row -->
<hr>
<!--
            Pager
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>
-->
