<div class="container about_border_bottom" id="concept">
<!-- Page Content -->
    <!-- Page Heading/Breadcrumbs -->
    <div class="row" >
        <div class="col-lg-12">
            <h1 class="page-header">About Us
                <small>Precision School Improvement Network</small>
            </h1>
        </div>
    </div>
   <!-- Blog Entries Column -->
    <div class="col-md-9">
      <!-- First Blog Post -->
      <h2 class="about_blue_font">
            Our Concept
        </h2>
      <h5 class="lead about_blue_font">
        Schools ultimately need help with the question "How?"
      </h5>
    </div>
      <!-- Blog Sidebar Widgets Column -->
      <div class="col-md-3" >
        <!--
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
        -->
        <!-- Blog Categories Well -->

        <!-- Blog Categories Well -->
        <div class="row about_side_height">
          <div class="col-lg-3">
            <ul class="list-unstyled">
              <u><li><a href="#team">View Our Team</a>
              </li></u>
            </ul>
          </div>
          <!-- /.col-lg-6 -->
        </div>

        <!-- Side Widget Well
        <div class="well">
            <h4>Side Widget Well</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
        </div>
        -->
      </div>
      <div class="row">
        <div class="col-md-5" >
          <div class="about_image">
            <%= image_tag('Precision_model.png', width: 400) %>
          </div>
        </div>
        <div class="col-md-7">
            <div class="panel-body about_panel_1 about_blue_font" style="padding-top:6em;">
              <em>
                <p>
                  For the good work of education's thought leaders to affect our children,
                  their findings must take root in the local landscapes unique to every school.
                </p>
                <p>
                  Precision addresses the inevitable need to apply sound research-based principles
                  to local circumstances.
                </p>
              </em>
              <hr>
            </div>
        </div>
      </div>
        <!-- Blog Entries Column -->
  <div class="col-md-10">
      <p>
        <strong>Authenticity:</strong> Our Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat
        ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.
      </p>
      <p>
        <strong>Local Relevance:</strong> Our Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat
        ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.
      </p>
      <p>
        <strong>Aligned Tool Strategy:</strong> Our Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat
        ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.
      </p>
      <p>
        <strong>Experience:</strong> Our Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat
        ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.
      </p>
  </div>
</div>
<div class="container about_topic_box" id="team">
    <!-- Blog Entries Column -->
    <div class="row">
        <div class="col-md-9">
          <!-- First Blog Post -->
          <h2 class="about_blue_font">
            Our Team
          </h2>
          <h5 class="lead about_blue_font">
            Experience Matters
          </h5>
        </div>
      <!-- Blog Categories Well -->
      <div class="row about_side_height">
        <div class="col-lg-3">
          <ul class="list-unstyled">
            <u><li><a href="#concept">View Our Concept</a>
            </li></u>
          </ul>
        </div>
        <!-- /.col-lg-6 -->
      </div>
    </div>
    <div class="row">
        <div class="col-md-5" >
          <div class="about_image">
            <%= image_tag('about_1.jpeg', width: 400) %>
          </div>
        </div>
        <div class="col-md-7">
          <div class="panel-body about_panel about_grey_font" style="padding-top:0em;" >
            <p>
              The <em>Precision</em> team is an exclusive group of seasoned educators having extensive experience in school diagnostic reviews.
              Advisers are well versed with the Common Core Standards and specific curricular requirements in Colorado.
              Instruction and teacher effectiveness are particular strengths, as well our knowledge of best practices for intervention and acceleration.
              Everyone on the <em>Precision</em> team is a credentialed education leader, skilled facilitator, and professional development coach.
              And we are diverse: elementary, middle, high, and alternative school educators and principals; curriculum designers; special education educators; published authors; transformation experts.
              Every adviser has developed <strong>Unified Improvement Plans</strong> and will prove to be a valuable resource and, even fun to be around, colleague of school leaders.
            </p>
          </div>
        </div>
    </div>

    <!-- Blog Sidebar Widgets Column -->
  <!--
  <div class="col-md-4">

              <div class="well">
                  <h4>Blog Search</h4>
                  <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                      </span>
                  </div>
              </div>
      -->
      <!-- Blog Categories Well

      <%#= render 'side_bar_1' %>
      -->

      <!-- Side Widget Well
      <div class="well">
          <h4>Side Widget Well</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
      </div>

    </div>
    -->
  <div class="row" style="padding-top:2em">
    <div class="col-md-12">
      <%= render partial: 'team_box', locals: {names: @names,
                                             pics: @pics,
                                             titles: @titles,
                                             bios: @bios, }%>
    </div>
  </div>
  <!-- Blog Entries Column -->
</div>
  <!-- /.row -->
<hr>
<!--
            Pager
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>
-->
