/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "application-variables.scss";

.page_background {
    background-color:#f7f4ed;
}

.about_header {
  color:$palette_2;
  text-align:center;
  font-size: 22px;
  line-height:2.0em;
  background:transparent;
}

.about-page {
  color:$palette_2;
  font-weight:bold;
}

.about_approach_image_1{
  padding-top:0em;
  padding-bottom:1em;
  float:left;
}

.about_approach_image_2{
  padding-top:4em;
  float:right;
}

.pillars-panel-heading {
  color: $light_text;
  text-align: center;
  vertical-align:middle;
  padding-top:0px;
  padding-bottom:0px;
  min-height:2em;
  background-color: $palette_1;
  border-color: #ddd;
}

.about_team_image{
  padding-top:2em;
}

.about_topic_box {
    padding-top:5em;
    border-bottom: 1px solid #67655D;
    padding-bottom:1em;
}
.about_side_height {
    overflow:scroll;
    max-height:400px;
}
.about_blue_font {
    color:#577492;
}
.about_gray_font {
    color:#67655D;
}
.about_red_font {
    color:#B74934;
}
.about_gold_font {
    color:#AA9A66;
}

.about_panel_1 {
  font-size: 18px;
  padding-top:1em;
  line-height:1.8em;
  background:transparent;
}

.about_panel_2 {
  font-size: 15px;
  line-height:1.5em;
  background:transparent;
  padding-top:2em;
}

.about_panel_model {
  font-size: 16px;
  line-height:1.8em;
  background:transparent;
  padding-top:2em;
}

.about_panel {
  font-size: 16px;
  line-height:1.8em;
  background:transparent;
  padding-bottom:2em;
}

.about_model_p {
  padding-top:1em;
  padding-bottom:0em;
}

.team_row {
  border-top: 1px solid #67655D;
  padding-bottom:2em;
  padding-top:2em;
}
.team_row_text {
  vertical-align:top;
}

.team_passion {
  font-size: 16px;
  line-height:1.6em;
  padding-bottom:0em;
}

.team_education {
  font-size: 14px;
  line-height:1.6em;
  padding-bottom:0em;
}

.about_border_bottom {
  border-bottom: 1px solid #67655D;
  padding-bottom:1em;
}

.pm_header_image {
  background: url(/assets/pm/pm_banner.png) no-repeat;
  background-size: cover;
  /*  background-color: $palette_2;  */
  height: 20em;
  width: 100%;
  margin: 0px;
}
.pm_header {
  color:$palette_2;
  margin:.5em 1em .5em 1em;
  font-weight:bold;
  text-align:center;
}

.pm_subheader {
  color: $palette_2;
  margin:2em 0em 0em 0em;
  text-align: left;
  vertical-align:bottom;
}

.pm_header_label {
  color:$palette_2;
  padding-left:1em;
  padding-right:1em;
  font-size:12.5px;
  font-weight:bold;
}
.pm_header_text {
  padding-left:2em;
  font-size:12px;
}

.pm_brief {
  color: $palette_2;
  margin:0em 1em 1em 1em;
  font-weight: normal;
  line-height: 1.8em;
  text-align: justify;
  font-size: 14px;
}

.pm_descript {
  color: $palette_2;
  margin:2em 1em 1em 1em;
  font-weight: normal;
  line-height: 1.8em;
  text-align: justify;
  font-size: 14px;
}

.partner_header_image {
  background: url(/assets/partners/partnering_banner.jpg) no-repeat;
  background-size: cover;
  /*  background-color: $palette_2;  */
  height: 23em;
  width: 100%;
  margin: 0px;
}

.partner_header {
  color:$palette_2;
  margin:1em 1em 1em 1em;
  font-weight:bold;
  text-align:center;
}

.partner_brief {
  color: $palette_2;
  margin:1em 1em 1em 1em;
  font-weight: normal;
  line-height: 2em;
  text-align: center;
}

.partner_descript {
  color: $dark_text;
  margin:1em 0em .5em 0em;
  font-weight:normal;
  line-height: 1.8em;
  font-size:14px;
}

.method_descript {
  color: $dark_text;
  margin:1em 0em .5em 1em;
  font-weight:normal;
  line-height: 1.8em;
  font-size:14px;
}

.image_descript {
  color: $dark_text;
  margin:0em 0em .5em 0em;
  font-weight:normal;
  line-height: 1.8em;
  font-size:13px;
}
.image_name {
  color: $dark_text;
  margin:1.5em 0em 0em 0em;
  text-align:left;
  font-weight:bold;
  line-height: 1.5em;
  font-size:13px;
}


.pm_entity {
  color: $light_text;
  background-color:$palette_2;
  text-align:left;
  font-size:15px;
  font-weight:bold;
  text-decoration:underline;
}

.pm_table {
  color:$dark_text;
  font-weight:normal;
  text-align:center;
  line-height:1.5em;
  font-size:14px;
  border: 2px solid $dark_text;
  border-radius: 5px;
}
.pm_table_header {
  color: $light_text;
  background-color:$palette_2;
  font-size:14px;
  font-weight:bold;
  line-height:.5em;
}

.pm_table_row_header {
  color:$palette_2;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  vertical-align:middle;
}

.pm_read_more {
  color: $palette_2;
  padding-left:36em;
  text-align: center;
  font-size:11px;
  font-style:italic;
  font-weight:normal;
  vertical-align:middle;
}

.image_list {
  margin: 1em 0em 1em 0em;
  overflow: scroll;
  max-height: 40em;
}
