/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery-ui
 */
@import "bootstrap-generators";
@import "bootstrap-variables";
@import "application-variables.scss";
@import 'bootstrap';


.ajax_loading {
  display: none;
  margin: auto;
  width: 150px;
}


/*  From Escent  */

a.btn {
  text-decoration: none;
}

.button_blue {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}
.button_red {
  @extend .btn;
  @extend .btn-danger;
  @extend .btn-xs;
}
.button_light_blue {
  @extend .btn;
  @extend .btn-info;
  @extend .btn-xs;
}
.button_green {
  @extend .btn;
  @extend .btn-success;
  @extend .btn-xs;
}
.button_orange {
  @extend .btn;
  @extend .btn-warning;
  @extend .btn-xs;
}
.button_gray {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-xs;
}
.button_contact {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
  margin-top:2em;
  margin-left:0em;
  font-size:13px;
}
.button_enroll {
  @extend .btn;
  @extend .btn-success;
  @extend .btn-xs;
  margin-top:2em;
  margin-left:0em;
  font-size:16px;
}
.button_webinar {
  @extend .btn;
  @extend .btn-info;
  @extend .btn-xs;
  margin-top:2em;
  margin-left:0em;
  font-size:16px;
}

.right-hand {
  @extend .glyphicon;
  @extend .glyphicon-hand-right;
  color:$blue_hand;
  margin-top:0em;
  margin-left:0em;
  font-size:13px;
}
.check-mark {
  @extend .glyphicon;
  @extend .glyphicon-ok;
  color:green;
  margin-top:0em;
  margin-left:0em;
  font-size:13px;
}
.thumbs-up {
  @extend .glyphicon;
  @extend .glyphicon-thumbs-up;
  color:$red_hand;
  margin-top:0em;
  margin-left:0em;
  font-size:13px;
}

.navbar_row {
  background-color:$header_background;
  border-width:1px;
  border-color:black;
  margin-bottom: 0em;
  padding-bottom:0px;
}
.nav.navbar-nav {
 /*  background-color: transparent;  */
   background-color: transparent;
  /*  background-color: $navbar-gray;   */
          li a {
         /*   color: $light_text;  */
            color:$light_text;
            font-weight:normal;
            font-size:16px;
            font-family: Arial, Helvetica, sans-serif;
  }
  margin: 0em 0em 0em 0em;
}
.nav.navbar-header {
  background-color: white;
  margin: 2em 0em 10em 0em;
}

h1, h2, h3, h4 {
  color: red;
}
.header_container {
  height:14em;
}

.header_background {
  background-color:$header_background;
}
.main_background_image img {
  background-image: url(Precision_banner_1.png);

  /*  background-color: $palette_2;  */
  margin:0em 0em 0em 0em;
}

.site-frame {
  font-size:12px;
  margin:5em 0em 0em 0em;
  line-height: 1em;
}
.site-frame2 {
  font-size:12px;
  margin:10em 0em 0em 0em;
  line-height: 1em;
}

.site-list {
  font-size:14px;
  margin:0em 0em 0em 0em;
  border-width:0px;
  line-height: 1.6em;
  color:$dark_text;
}
.site-link {
  text-align:left;
  border:0px;
  font-size:14px;
  margin:0em 0em 0em 0em;
  color:$dark_text;
}

.offering_image img {
  max-height: 40em;
  max-width: 100%;
  margin:0em 1em 0em 1em;
  float:right;
}


.login {
  margin:10em 0em 0em 10em;
}

.marque_row {
  margin: 3.5em 4em 0em 15em;
  padding-bottom: 0em;
  font-weight:normal;
  font-style: italic;
  font-size: 13px;
  border-width:0px 0px 0px 0px;
  vertical-align:bottom;
  color: $light-text;
}
.flash_row {
  margin: .5em 10em .5em 10em;
  font-weight:normal;
  font-size: 14px;
  border-width:1px 1px 1px 1px;
  vertical-align:middle;
  color: $dark_text;
}
.mission_row {
  margin-top: 0em;
  margin-bottom: 2em;
}

.mission_block {
  line-height: 1.9em;
  background: $mission_gray;
  color: $header_background;
  font-family: Garamond, Georgia, "Times New Roman", Times, serif;
}
.mission_border_1 {
  border: 3px $palette_1;
  border-style: solid;
  border-radius: 5px;
}
.mission_border_2 {
  border: 3px $palette_2;
  border-style: solid;
  border-radius: 5px;
}
.mission_border_3 {
   border: 3px $palette_3;
   border-style: solid;
   border-radius: 5px;
 }
.mission_border_4 {
    border: 3px $palette_4;
    border-style: solid;
    border-radius: 5px;
  }
.mission_border_5 {
     border: 3px $palette_5;
     border-style: solid;
     border-radius: 5px;
   }

.mission_label {
  margin:.5em 0em 0em .5em;
  font-weight:normal;
  font-size:13px;
  text-align: left;
  text-decoration:underline;
}
.mission_label_2 {
  font-weight:normal;
  vertical-align:top;
  padding-top:1.25em;
  padding-bottom:1em;
  font-size:12px;
  text-align: right;
}

.mission_statement {
  margin:0em 0em 0em 0em;
  font-weight:bold;
  color: $palette_2;
  font-size:17px;
  text-align: center;
}
.mission_statement_2 {
  font-weight:bold;
  vertical-align:top;
  padding-top:1em;
  padding-bottom:1em;
  font-size:15px;
  padding-left:2em;
  text-align: left;
  width:85%;
}
.mission_panel {
  margin: 1em 3em 1.5em 3em;
  text-align: left;
  line-height: 1.7em;
  font-size:15px;
  color: $dark-text;
}

.vision_label {
  font-weight:normal;
  vertical-align:top;
  padding-top:0em;
  padding-bottom:0em;
  font-size:12px;
  text-align: right;
}

.vision_statement {
  padding-top:0em;
  padding-left:2.5em;
  padding-right:3em;
  padding-bottom:1.25em;
  text-align: left;
  line-height: 1.5em;
  font-size:13px;
}

.mission_panel_2 {
  margin: .5em 4em 1em 4em;
  text-align: justify;
  line-height: 1.6em;
  font-size:14px;
}

.mission_block_1 {
  margin-top: 0px;
  background: url(/assets/psin_1.png);
  height: 270px;
  width: 100%;
}
#mission-carousel {
  margin-top: 1em;
  height: $carousel_1_height;
  img {
    /* force images to fit the carousel window */
    width: 100%;
    height: $carousel_1_height;
  }
}

.mission_block_2 {
  margin-top: .5em;
  line-height: 1.5em;
  font-family: Garamond, Georgia, "Times New Roman", Times, serif;
}

.footers_row {
  margin: 2em 0em 2em 0em;
  width:100%;
  background-color: $header_background;
  height:3em;
}

.footer_text {
  color: $light_text;
  vertical-align:middle;
  text-align:center;
  padding-top:1em;
}

.navbar_text {
  color: $light_text;
}

.nav-inout {
  float:right;
}

.page_background {
  background-color: $page_background;
  margin:0em 0em 0em 0em;
}

.thumbnail-small img {
  max-height: 50px;
  max-width:50px;
}
.thumbnail-80x120 img {
  max-height: 120px;
  max-width: 80px;
}
.thumbnail-60x100 img {
  max-height: 100px;
  max-width: 60px;
}

.thumbnail-med img {
  max-height: 80px;
  max-width:80px;
}

.thumbnail-large img {
  max-height: 130px;
  max-width:130px;
}

.thumbnail-large-x img {
  max-height: 180px;
  max-width:180px;
}

.logo-large img {
  max-height: 50px;
  max-width:140px;
}

.intro-lead-1 {
  font-family: Zapfino, Arial, Verdana, Helvetica, sans-serif;
  padding-top: 8%;
  padding-left:9%;
  text-align: left;
  color: $light_text;
  font-size: 65px;
  line-height: 20px;
  margin-bottom: 0px;
}

.intro-lead-2 {
  font-family: Garamond, Verdana, Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 20px;
}

.intro-lead-3 {
  font-family: Zapfino, Arial, Verdana,  Helvetica, sans-serif;
  padding-top: 3%;
  padding-left:9%;
  text-align: left;
  color: $light_text;
  font-size: 20px;
  margin-bottom: 0px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.panel-default > .panel-heading {
  color: $dark_text;
  text-align: center;
  background-color: $panel_background;
  border-color: #ddd;
}

.panel .panel-heading {
  border-color:$dark-text;
}

.header-panel > .panel-heading {
  color: $page_background;
  background-color: $page_background;
  border-width:2px;
  border-color:$page_background;
}

.panel-palette > .panel-heading {
  text-align: center;
  color: $light_text;
  border-color: #ddd;
}

.panel-palette_1 > .panel-heading {
  color: $light_text;
  text-align: center;
  background-color: $palette_1;
  border-color: #ddd;
}

.panel-palette_2 > .panel-heading {
  color: $light_text;
  text-align: center;
  background-color: $palette_2;
  border-color: #ddd;
}

.panel-palette_3 > .panel-heading {
  color: $light_text;
  text-align: center;
  background-color: $palette_3;
  border-color: #ddd;
}

.panel-palette_4 > .panel-heading {
  color: $light_text;
  text-align: center;
  background-color: $palette_4;
  border-color: #ddd;
}

.panel-palette_5 > .panel-heading {
  color: $light_text;
  text-align: center;
  background-color: $palette_5;
  border-color: #ddd;
}

/*
 * Glyphicons
 */


.welcome-panel {
  line-height:1.8em;
  color:$dark-text;
  background-color: transparent;
  font-size: 14px;
  overflow: scroll;
  max-height: 150em;
}

.welcome-panel-left {
  overflow: scroll;
  max-height: 160em;
}

.panel {
  background:red;
}

.index-panel-size-1 {
  overflow: scroll;
  max-height: 300px;
}

.index-panel-size-2 {
  overflow: scroll;
  max-height: 400px;
}

.index-panel-size-3 {
  overflow: scroll;
  max-height: 500px;
}

.contact-panel {
  color: #333;
  text-align: left;
  background-color: $page_background;
}

.modal-email-panel {
  color: $dark_text;
  font-style: normal;
  text-align: left;
  background-color: $page_background;
}

.modal-email-name {
  color: $dark_text;
  font-size: 13px;
  text-align: left;
  font-weight:bold;
  font-style: normal;
  background-color: $page_background;
}

.modal-email-descript {
  color: $dark_text;
  font-size: 12px;
  text-align: left;
  font-weight:normal;
  font-style: normal;
  background-color: $page_background;
}

.career-panel {
  background-color: $page_background;
}
.career-box {
  margin: 0em 2em 1em 2em;
  color: $dark-text;
  text-align: left;
}

.career_title {
  color:$palette_2;
  font-size:20px;
}

.career_header {
  margin:1em 0em 0em 0em;
  color:$palette_2;
  font-size:14px;
  font-weight:bold;
}

.career_text {
  margin:.5em 0em .5em 1em;
  color:$dark_text;
  text-align:left;
  font-size:14px;
  font-weight:normal;
}

.modal-image-panel {
  color: $dark_text;
  margin-left:0em;
  font-style: normal;
  text-align: left;
  background-color: $page_background;
}

.modal-image-name {
  color: $palette_2;
  font-size: 15px;
  text-align: left;
  font-weight:bold;
  font-style: normal;
  background-color: $page_background;
}

.modal-image-descript {
  color: $dark_text;
  font-size: 13px;
  line-height:1.7em;
  text-align: left;
  font-weight:normal;
  font-style: normal;
  background-color: $page_background;
}

.modal-tst-body {
  background-color: $page_background;
}
.modal-tst-box {
  margin: 0em 1.5em 1em 1.5em;
}
.modal-tst-person {
  color: $palette_2;
  padding: 0em 0em 0em 0em;
  font-size: 17px;
  text-align: center;
  font-weight:bold;
  font-style: normal;
}
.modal-tst-header {
  color: $palette_2;
  padding: 1em 0em 0em 0em;
  font-size: 15px;
  text-align: center;
  font-weight:bold;
  font-style: normal;
}
.modal-tst-topic {
  padding: 1em 0em 0em 0em;
  color: $dark_text;
  font-size: 13px;
  text-align: center;
  font-weight:bold;
  font-style:normal;
}
.modal-tst-panel {
  color: $dark_text;
  padding: 1.2em 1.5em 1.2em 1.5em;
  font-size: 12px;
  text-align: justify;
  font-weight:normal;
  font-style:italic;
}
.modal-tst-pic {
  margin: 0em 0em 0em 0em;
  float:left;
}
.modal-tst-video {
  color: $red_text;
  margin:1em 1em 1em 1em;
  font-size: 12px;
  text-align: left;
  font-weight:normal;
  font-style:normal;
}

.modal-stat-panel {
  color: $dark_text;
  font-style: normal;
  text-align: left;
  background-color: $page_background;
}

.modal-stat-name {
  color: $dark_text;
  font-size: 17px;
  padding-top: 1em;
  padding-left:4em;
  padding-right:4em;
  line-height:1.5em;
  text-align: left;
  font-weight:normal;
  font-style: normal;
  background-color: $page_background;
}

.offering-stat-box {
  margin: 1em 0em 1em 0em;
}

.offering-stats {
  font-size: 13px;
  color:$dark_text;
  border-top:1px solid $dark_text;
  padding-top:1em;
  padding-bottom:1em;
  text-align: center;
  font-weight:normal;
}

.offering-stat {
  font-size: 12px;
  line-height:1.5em;
  padding-top: 0em;
  padding-left: 0em;
  padding-right: 1em;
  text-align: left;
  font-weight:normal;
}

.offering-log-list {
  line-height:1.8em;
  color:$dark-text;
  background-color: transparent;
  font-size: 13px;
  overflow: scroll;
  max-height: 15em;
}

.offering-log-box {
  margin: 1em 0em 1em 0em;
}

.offering-logs {
  font-size: 13px;
  color:$dark_text;
  border-top:1px solid $dark_text;
  padding-top:1em;
  padding-bottom:1em;
  text-align: center;
  font-weight:normal;
}

.offering-log {
  font-size: 12px;
  line-height:1.5em;
  padding-top: 0em;
  padding-left: 0em;
  padding-right: 1em;
  text-align: left;
  font-weight:normal;
}

.modal-stat-descript {
  color: $dark_text;
  font-size: 12px;
  padding-top: 1em;
  padding-left: 4em;
  text-align: left;
  font-weight:bold;
  font-style: normal;
  background-color: $page_background;
}

.modal-stat-table {
  color: $dark_text;
  font-size: 15px;
  padding-top: 1em;
  padding-left: 4em;
  text-align: left;
  line-height:2.0em;
  font-weight:normal;
  font-style: normal;
  background-color: $page_background;
}

  .welcome_team {
    line-height:2em;
  }

  .welcome_pov_list {
    font-size: 12px;
    line-height:1.6em;
  }

  .welcome-header {
    padding-bottom: 9px;
    text-align:center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px 0px 13px 13px;
    border-bottom: 1px solid #eee;
  }

.image_list {
  font-size: 12px;
  line-height:1.7em;
  font-style: normal;
}

.testimony_list {
  font-size: 12px;
  padding-top:1em;
  line-height:2em;
  font-style: normal;
}

.stat_list {
  font-size: 13px;
  padding-bottom:1em;
  font-style: normal;
}

.pov_list {
  font-size: 11px;
  line-height:1.4em;
  font-style: normal;
}

.testimony_brief {
  padding-top:1.5em;
  line-height:1.4em;
  padding-right:3em;
  text-align: left;
  vertical-align: top;
  font-size:11px;
  color: $dark_text;
}

.testimony_image {
  float:left;
  padding-left:1em;
  margin: 1.5em 0em 0em 0em;
}

.off-testimony-box {
  margin: 1em 0em 0em 0em;
  color:$dark_text;
}
.off-testimony {
  border-top:1px solid $dark_text;
  padding-top:1em;
  padding-bottom:1em;
}
.off-testimony-row {
  border-bottom:1px dashed $navbar_gray;
  padding-top:1em;
  padding-bottom:1em;
}

.off-testimony_image {
  float:left;
  padding-left:1em;
  margin: 0em 0em 0em 0em;
}
.off_testimony_person {
  padding-top:0em;
  line-height:1.2em;
  padding-right:2em;
  text-align: left;
  vertical-align: top;
  font-size:12px;
  font-weight:bold;
}

.off_testimony_role {
  font-weight:normal;
  font-size:11px;
}
.off_testimony_statement {
  padding:1em 2em 0em 1em;
  line-height:1.2em;
  text-align: justify;
  vertical-align: top;
  font-size:11px;
  font-weight:normal;
  font-style:italic;
  color: $dark_text;
}

.testimony_row2 {
  line-height:1.5em;
  vertical-align: top;
  padding-top:1.5em;
  font-style:italic;
  font-size:13px;
  color: $dark_text;
}
.testimony_table {
  margin: 1em 2em 0em 2em;
  border-top: 1px solid $dark_text;
  font-style:normal;
  font-size:12px;
  color: $dark_text;
}

.partner_table {
  margin: 2em 2em 0em 2em;
  border-top: 1px solid $dark_text;
  font-style:normal;
  font-size:12px;
  color: $dark_text;
}

.partner_image {
  float:left;
  padding-left:1em;
  margin: 2.5em 0em 0em 0em;
}

.partner_descript {
  line-height:1.5em;
  vertical-align: top;
  padding-top:2.0em;
  font-style:normal;
  font-size:20px;
  color: red;
}

  h1 {
    color: $h1_dark_text;
  }

  .research_image {
    float:left;
  }

.research_link {
  line-height:2.0em;
  font-style: normal;
  font-weight:normal;
  text-align: left;
  font-size:11px;
  color: $link;
}

.offering_header {
  margin: 0em 0em 0em 0em;
  line-height:1.5em;
  font-weight:normal;
  font-style: normal;
  text-align: left;
  font-size:16px;
  color: $dark_text;
}
.pp_enroll {
  margin: 0em 0em 0em 14em;
  line-height:1.0em;
  font-weight:normal;
  font-style: normal;
  text-align: center;
  font-size:11px;
}

.research_join_list {
  line-height:1.0em;
  font-weight:normal;
  font-style: normal;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 10px;
  font-size:9px;
  color: $palette_3
}

.offering_image_box {
  border-top:1px solid $dark_text;
  margin: 0em 0em 0em 0em;
}

.offering_image {
  padding-left: 2em;
  width:100%;
}

.offering_name {
  line-height:2.0em;
  font-style: normal;
  font-weight:bold;
  text-align: left;
  font-size:16px;
  color: $palette_2;
}

.feature_name {
  line-height:2.0em;
  font-style: normal;
  font-weight:bold;
  text-align: left;
  font-size:14px;
  color: $dark_text;
}

.offering_link {
  line-height:2.0em;
  font-style: normal;
  font-weight:normal;
  text-align: left;
  font-size:11px;
  color: $link;
}

.offering_join_list {
  line-height:1.0em;
  font-weight:normal;
  font-style: normal;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 10px;
  font-size:9px;
  color: $palette_2
}

.offering_descript {
  line-height:1.8em;
  font-weight:normal;
  font-style: normal;
  text-align: left;
  font-size:14px;
  color: $dark_text;
}

.feature_descript {
  margin:0em 0em 0em 2em;
  line-height:1.8em;
  font-weight:normal;
  font-style: normal;
  text-align: left;
  font-size:14px;
  color: $dark_text;
}

.grant_link {
  line-height:1.3em;
  font-style: normal;
  font-weight:normal;
  text-align: left;
  font-size:12px;
  color: $link;
}

.grant_contact {
  font-size: 11px;
  text-decoration: underline;
}

.grant_join_list {
  line-height:1.0em;
  font-weight:normal;
  font-style: normal;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 10px;
  font-size:9px;
  color: $palette_1
}

.tool_name {
  line-height:2.0em;
  font-style: normal;
  font-weight:bold;
  text-align: left;
  font-size:13px;
  color: #0000a4;
}

.tool_contact {
  text-align:right;
  font-size:11px;
}

.tool_link {
  line-height:2.0em;
  font-style: normal;
  font-weight:normal;
  text-align: left;
  font-size:13px;
  color: #0000a4;
}

.tool_header {
  line-height:2.0em;
  font-weight:normal;
  font-style: normal;
  text-align: left;
  font-size:14px;
  color: $dark_text;
}

.tool_join_list {
  line-height:1.0em;
  font-weight:normal;
  font-style: normal;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 10px;
  font-size:9px;
  color: $palette_5
}

.team_contact {
  font-size: 11px;
  text-decoration: underline;
}

.team_header {
  line-height:2.0em;
  font-weight:normal;
  font-style: normal;
  text-align: left;
  font-size:15px;
  color: $dark_text;
}

.team_join_list {
  line-height:1.0em;
  font-weight:normal;
  font-style: normal;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 10px;
  font-size:9px;
  color: $palette_5
}

.escent_list-container {
  padding-left:20%;
  padding-top:3em;
  padding-bottom:1em;
}
.admin_container {
  margin: 3em 3em 3em 3em;
}
.admin_title {
  line-height:2.0em;
  font-weight:bold;
  font-style: normal;
  text-align: center;
  font-size:26px;
  color: $dark_text;
}
.admin_panel {
  line-height:1.5em;
  font-weight:bold;
  font-style: normal;
  text-align: center;
  font-size:18px;
}
.reservation {
  line-height:2.0em;
  font-weight:normal;
  font-style: normal;
  text-align: left;
  font-size:14px;
  color: $dark_text;
}

.reservation .venue {
  width:25%;
  font-weight:bold;
  text-align: center;
}
.reservation .venue .event_type {
  font-size:12px;
  font-weight:normal;
  text-align: center;
}

.reservation .event {
  font-size:13px;
}

.reservation .event .event_name {
  font-size:12px;
  font-weight:bold;
}

.reservation .closed {
  font-size:12px;
  vertical-align:middle;
  text-align:center;
  font-weight:bold;
  color:$red_text;
}

.reservation .event .padmin {
  font-size:12px;
  color:$blue_text;
}

.enroll_message {
  line-height:1.5em;
  font-weight:normal;
  font-style: normal;
  text-align: left;
  font-size:14px;
  color: $red_text;
}
.enroll_header {
  padding: 1em 0em 0em 0em;
  text-align: center;
  color: $dark_text;
}

.enroll_venue {
  padding: 1em 0em 0em 0em;
  font-weight:bold;
  font-style: normal;
  text-align: left;
  font-size:18px;
  color: $dark_text;
}
.enroll_dates {
  padding: 1em 0em 0em 0em;
  font-weight:bold;
  font-style: normal;
  text-align: left;
  font-size:14px;
  color: $dark_text;
}
.enroll_status {
  padding: 1em 0em 0em 0em;
  font-weight:bold;
  font-style: normal;
  text-align: left;
  font-size:12px;
  color: $dark_text;
}
.reservation_edit {
  margin: 0em 2em 0em 1em;
  line-height:1.5em;
  font-weight:normal;
  font-style: normal;
  text-align: left;
  font-size:12px;
  border-width:0px;
  color: $blue_text;
}
.reservation_edit .edit_button{
  width:15%;
  line-height:1.5em;
  font-weight:normal;
  font-style: normal;
  text-align: left;
  font-size:10px;
  color: $blue_text;
}

.reservation_edit .status {
  font-weight:bold;
  font-size:11px;
  text-align: center;
}
.enroll_return {
  padding: 1em 0em 0em 3em;
  font-weight:normal;
  font-style: normal;
  text-decoration:underline;
  text-align: left;
  font-size:14px;
  color: $link;
}
.enroll_buttons {
  font-size:14px;
}