
/*
*    Color Palette settings    Search for 'palette' and change them
*/
/*    Monchromatic Rainbow   */
$page_background: #f7f4ed;
$panel_background: #ffffff;
$light_text: #f7f4ed;
$dark_text: #333;
$palette_1: #a07c7c;
$palette_2: #bba077;
$palette_3: #b2c062;
$palette_4: #61976d;
$palette_5: #78789d;
/* navbar */
$navbar-default-color:             #fff !default;
$navbar-inverse-bg:                         #fff !default;
