/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery-ui
 */
@import "application-variables.scss";


nav.navbar {
  background-color: $navbar-background;
  li {
    color: $light_text;
  }
}

h1, h2, h3, h4 {
  color: red;
}

.page_background {
  background-color: $page_background;
}

.thumbnail-small img {
  max-height: 50px;
  max-width:50px;
}

.thumbnail-med img {
  max-height: 80px;
  max-width:80px;
}

.thumbnail-large img {
  max-height: 130px;
  max-width:130px;
}

.thumbnail-large-x img {
  max-height: 180px;
  max-width:180px;
}

.logo-large img {
  max-height: 50px;
  max-width:140px;
}
.main_background_image {
  background: url(/assets/CO_Mtn_3.png) no-repeat;
  background-size: cover;
/*  background-color: $palette_2;  */
  height: 230px;
  width: 100%;
  margin: 0px;
}

.intro-lead-1 {
  font-family: Zapfino, Arial, Verdana, Helvetica, sans-serif;
  padding-top: 8%;
  padding-left:9%;
  text-align: left;
  color: $light_text;
  font-size: 65px;
  line-height: 20px;
  margin-bottom: 0px;
}

.intro-lead-2 {
  font-family: Garamond, Verdana, Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 20px;
}

.intro-lead-3 {
  font-family: Zapfino, Arial, Verdana,  Helvetica, sans-serif;
  padding-top: 3%;
  padding-left:9%;
  text-align: left;
  color: $light_text;
  font-size: 20px;
  margin-bottom: 0px;
}

.mission_row {
  margin-top: 10px;
  min-height: 410px;
  width: 100%;
  padding-bottom:0em;
}

.mission_block_1 {
  margin-top: 0px;
  background: url(/assets/psin_1.png);
  height: 270px;
  width: 100%;
}
#mission-carousel {
  margin-top: 1em;
  height: $carousel_1_height;
  img {
    /* force images to fit the carousel window */
    width: 100%;
    height: $carousel_1_height;
  }
}

.mission_block_2 {
  margin-top: 1em;
  line-height: 1.5em;
  width: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.mission_panel {
  margin-top: 0em;
  line-height: 1.9em;
  text-align: justify;
  width: 90%;
  font-size:15px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.mission_statement {
  margin-left:10%;
  font-weight:normal;
  width: 80%;
  font-size:17px;
  text-align: center;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.panel-default > .panel-heading {
  color: $dark_text;
  text-align: center;
  background-color: $panel_background;
  border-color: #ddd;
}

.panel-palette_1 > .panel-heading {
  color: $light_text;
  text-align: center;
  background-color: $palette_1;
  border-color: #ddd;
}

.panel-palette_2 > .panel-heading {
  color: $light_text;
  text-align: center;
  background-color: $palette_2;
  border-color: #ddd;
}

.panel-palette_3 > .panel-heading {
  color: $light_text;
  text-align: center;
  background-color: $palette_3;
  border-color: #ddd;
}

.panel-palette_4 > .panel-heading {
  color: $light_text;
  text-align: center;
  background-color: $palette_4;
  border-color: #ddd;
}

.panel-palette_5 > .panel-heading {
  color: $light_text;
  text-align: center;
  background-color: $palette_5;
  border-color: #ddd;
}

.contact-panel {
  color: #333;
  text-align: left;
  background-color: $page_background;
}

.welcome_team {
  line-height:2em;
}

.welcome_pov_list {
  font-size: 12px;
  line-height:1.6em;
}

.welcome-header {
  padding-bottom: 9px;
  text-align:center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0px 0px 13px 13px;
  border-bottom: 1px solid #eee;
}
.testimony_table {
  padding-left:15px;
  padding-right:15px;
  margin-top:0px;
  overflow:scroll;
  max-height:500px;
  font-size:10px;
}

.testimony_brief {
  line-height:.5em;
  padding-left:10px;
  text-align: left;
  vertical-align: middle;
  font-size:11px;
  color: #1a2a78;
}

.testimony_image {
  float:right;
  padding-right:3px;
}

.testimony_row2 {
  padding-top:3px;
  padding-left: 0px;
  padding-right:10px;
  font-style:italic;
  font-size:11px;
  color: $dark_text;
}

.partner_image {
  float:left;
}

.partner_descript {
  line-height:1.2em;
  padding-left:10px;
  text-align: left;
  vertical-align: middle;
  font-size:12px;
  color: $dark_text;
}

h1 {
  color: $h1_dark_text;
}

.escent_list-container {
  padding-left:20%;
  padding-top:3em;
  padding-bottom:1em;
}
