
/*
*    Color Palette settings    Search for 'palette' and change them
*/
/*    Lavish For CO_Aspen_2   */
$page_background: #f7f4ed;
$panel_background: #ffffff;
$light_text: #f7f4ed;
$dark_text: #333;
$h1_dark_text: #67655D;
$palette_1: #908C63;
$palette_2: #8A6F4E;
$palette_3: #978939;
$palette_4: #766356;
$palette_5: #82877F;
/* navbar */
$navbar-background: $palette_4;

