/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

.page_background {
    background-color:#f7f4ed;
}

.thumbnail-small img { min-height:50px; height:50px; }
.thumbnail-med img { min-height:80px; height:80px; }
.thumbnail-large img { min-height:130px; height:130px; }

.main_background_image {
    background: url(/assets/CA_mtns_3.jpg);
    height: 260px;
    width:100%;
    margin:0px;
}

.intro-lead-1 {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    padding-top:11%;
    text-align:center;
    color:#f7f4ed;
    font-size:38px;
    line-height:25px;
    margin-bottom:5px;
}

.intro-lead-2 {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    padding-top:5%;
    text-align:center;
    color:#f7f4ed;
    font-size:24px;
    line-height:25px;
    margin-bottom:5px;
}

.intro-lead-3 {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    padding-top:4%;
    text-align:center;
    color:#f7f4ed;
    font-size:20px;
    line-height:25px;
    margin-bottom:5px;
}

.main_block_1 {
    margin-top: 10px;
    background: url(/assets/psin_1.png);
    height: 270px;
    width: 100%;
}

.main_block_2 {
    margin-top: 2em;
    line-height:1.5em;
    height: 270px;
    width: 100%;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.panel-default > .panel-heading {
    color: #333;
    text-align:center;
    background-color: #ffffff;
    border-color: #ddd;
}

.panel-default-1 > .panel-heading {
    color: #f7f4ed;
    text-align:center;
    background-color: #AA9A66;
    border-color: #ddd;
}

.panel-default-2 > .panel-heading {
    color: #f7f4ed;
    text-align:center;
    background-color: #B74934;
    border-color: #ddd;
}

.panel-default-3 > .panel-heading {
    color: #f7f4ed;
    text-align:center;
    background-color: #577492;
    border-color: #ddd;
}

.panel-default-4 > .panel-heading {
    color: #f7f4ed;
    text-align:center;
    background-color: #67655D;
    border-color: #ddd;
}
