@import 'application-variables';

$carousel_height: 450px;

h1 {
  color: $h1_dark_text;
}

#title_row {
  border-bottom: 1px solid $h1_dark_text;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

#offerings-carousel {
  margin: 0 20px;
  height: $carousel_height;
  img {
    /* force images to fit the carousel window */
    width: 100%;
    height: $carousel_height;
  }
}

#status {
  border: 1px solid $palette_5;
  position: relative;
  top: 5px;
  p {
    font-size: 1em;
    font-style: italic;
  }
}

.panel {
  i {
    padding-right: 10px;
  }
  h4 {
    text-align: left;
  }
  p#brief {
    font-size: 120%;
    text-indent: 10px;
  }
  .panel-collapse {
    text-indent: 20px;
    padding: 20px;
    border-top: 1px solid $palette_5;
  }
}

button {
  float: right;
}

a.btn {
  float: right;
  position: relative;
  top: -33px;
}

#back-button a {
  display: block;
  float: none;
  top: 0px;
}

#edit-back-button a {
  float: left;
  margin: 10px 5px;
  top: 0px;
  width: 110px;
}
.button_to input {
  margin: 5px;
}

.pov_list-container {
  padding-left:20%;
  padding-top:3em;
  padding-bottom:1em;
}

.pov_association_loading {
  display: none;
  margin: auto;
  width: 150px;
}

.image_list-container {
  padding-left:20%;
  padding-top:3em;
  padding-bottom:1em;
}

.image_panel {
  padding-left:0%;
  padding-top:1em;
  padding-bottom:1em;
}
