@import 'application-variables';

h1 {
  color: $h1_dark_text;
}

#title_row {
  border-bottom: 1px solid $h1_dark_text;
  margin-bottom: 20px;
}

.panel {
  i {
    padding-right: 10px;
  }
  h4 {
    text-align: left;
  }
  p#brief {
    font-size: 120%;
    text-indent: 10px;
  }
  .panel-collapse p {
    text-indent: 20px;
    padding: 20px;
    border-top: 1px solid $palette_5;
  }
}

button {
  float: right;
}
