<hr>

<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-lg-12">
      <p style="text-align:center">Copyright: Precision School Improvement, LLC, <%= Date.today.strftime('%Y')%></p>
    </div>
  </div>
</footer>
