<hr>

<!-- Footer -->
  <footer>
    <div class="footers_row">
        <div class="footer_text">
          Copyright: Precision School Improvement, LLC, <%= Date.today.strftime('%Y')%>
        </div>
      </div>
  </footer>
