<!-- Header -->
<% if !@marque.nil? && !@marque.empty? %>
 <div class="row">
    <div class="col-md-3">
    </div>
    <div class='col-md-6 marque_row'>
      <span class='marque_text'>
        <marquee behavior="scroll" direction="left" ><%= @marque %></marquee>
      </span>
    </div>
    <div class="col-md-3">
    </div>
 </div>
<% end %>
