<!-- Header -->
<header>
  <div class="container">
    <div class="row">
        <div class="main_background_image" >
          <div class="intro-lead-1">Precision School Improvement Network</div>
         <!-- <div class="intro-lead-2">Seasoned Educators Supporting Our Schools</div> -->
          <div class="intro-lead-3">Diagnostic Review - Improvement Planning - Progress Monitoring</div>
        </div>
    </div>
  </div>
</header>
