<!-- Header -->
 <div class="row">
  <div class='marque_row'>
    <% if !@marque.nil? && !@marque.empty? %>
      <marquee behavior="scroll" direction="left" ><%= @marque %></marquee>
    <% end %>
  </div>
 </div>
